version: '3.8'

services:
  backend:
    build: ./backend
    container_name: smart-radar-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      MONGODB_URL: mongodb+srv://dbusr:s17sUQ2TkEFf@smart-radar.tbapili.mongodb.net/smart_radar?retryWrites=true&w=majority&appName=smart-radar
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: smart-radar-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      VITE_API_URL: http://localhost:8000
      VITE_WS_URL: ws://localhost:8000/ws
    depends_on:
      - backend
    volumes:
      - ./frontend:/app